     
        <script type="text/javascript" 
        src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script type="text/javascript" 
        src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script type="text/javascript" language="javascript">
        
         $(document).ready(function() {
     
           $("#hide").click(function(){
              $(".target").hide( "slide", 
                          { direction: "up"  }, 500 );
           });
     
           $("#show").click(function(){
              $(".target").show( "slide", 
                           {direction: "up" }, 500 );
           });
     
        });
        </script>
        <style>
 
          div{ width:100%; 
                 height:100px; 
                 background: #000; 
                 color: #fff; 
             }
       </style>
     </head>
      
     <div class="target" style="display:none;">
     My Bag Items
     <button id="hide">Hide My Bag</button>
     </div>
     <button id="show">My Bag</button> 
